.p1 {
    font-size: 32px;
    text-align: center;
}

.newsFeed {
    width: 350px;
    margin: 25px;
}

ul {
    list-style-type: none;
}

.button{
    float: right;
}

.postButton{
    font-size: 1.5vw;
}

.addForm{
    margin: 25px;
}