.p1{
    font-size: 1.5vw;
    margin-top: 25px;
    margin-left: 25px;
}

.buttonFirst{
    margin-left: 25px;
    font-size: 1.5vw;
}

.button{
    font-size: 1.5vw;
}

.h2{
    font-size: 3vw;
    margin-left: 25px;
}