h1{
    text-align: center;
    font-size: 3.5vw;
}

/* Registration form */
.register_form {
    width: 60%;
    margin: 0 auto;
    color: black;
  }

input[type="password"],
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin: 5px 0px;
  font-size: 1.5vw;
}
label {
  font-size: 2vw;
}

input[type="submit"] {
  background-color: #ffffff;
  color: black;
  padding: 10px;
  margin: 5px auto;
  border-radius: 3px;
  border: 1px solid #ccc;
  cursor: pointer;
  width: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1vw;
}

.row {
    max-width: 50px;
    margin: 0 auto;
    display: inline;
  }