.box {
    font-size: 36px;
    display: table-cell;
    position: relative;

}

.li {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.p1 {
    font-size: 3vw;
}

.image {
    width: 22vw;
    height: 22vw;
}